<h1>Disco Wars!</h1>
<h2>Choose your disco alias!</h2>

<form action="/names" method="post">
  <label for="Player1">
    Disco Warrior 1
    <input type="text" name="Player1">
  </label>
  <label for="Player2">
    Disco Warrior 2
    <input type="text" name="Player2">
  </label>
    <input type="submit" value="Submit">
</form>

<h2>Testing infrastructure working!</h2>
